html,
body {
  @apply w-full h-full;
}

html {
  @apply text-gray-900 text-base;
}

body {
  @apply bg-gray-200;
}

a {
  @apply underline;
}

a:hover,
a:focus,
a:active {
  @apply text-black;
}

/* https://gist.github.com/zachleat/a7393810acf7890e6bef6a34eaa7b78c#gistcomment-3426446 */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
